<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Gerenciador.DAL.Properties.Settings.CST" connectionString="Data Source=servidor;Initial Catalog=nomeDoBanco;Integrated Security=True"
                 providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>